*{
    box-sizing: border-box;
}
html{
    margin: 0;
}
body{
    background-color: rgb(255, 238, 3);
    margin: 0;
}
#container{
    max-width: 1000px;
    margin: auto;
    background-color: white;
}
header{
    color: white;
    background-color: #1791FF;
    text-align: center;
}
header h1{
    margin: 0;
}
header figure{
    margin: 0;
}
header figure img{
    width: 100%;
    vertical-align: middle;
    height: 400px;
    object-fit: cover;
    object-position: top;
}
main{
    background-color: white;
    display: flex;
    /*align-items: flex-start; */
}

nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #1791FF;
    align-items: center;
    padding: 1em;
}
.dashed{
    margin : 0;
    border-bottom: 3px #116dbe dashed;
}
article{
    flex: 3;
    text-align: justify;
    margin: 1em;
}
article h1{
    color: rgb(236, 201, 3);
}
aside{
    padding: 1em;
    background-color: #1791FF;
    color: white;
    text-align: justify;
    margin: 1em;
    width: 300px;
}
aside h2, aside small{
    text-align: center;
    margin: 0;
}

#legende{
    margin: 0;
    text-align: center;
    font-size: smaller;
    font-style: italic;
}
aside img{
    
    border: 1px solid white;
    height: 300px;
    width: 200px;
}

a{
    margin: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
footer{
    height: 25px;
    text-align: center;
    background-color: #185a94;
    color: white;
}
footer p{
    padding: 5px;
}

#grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1%;
    margin: 0;
}

#grid img{
    width: 100%;
    border: 1px solid black;
}